body {
    text-align: center;
    font-family: Verdana;
}

.top {
    background-color: rgb(255, 0, 0);
}

td {
    vertical-align: top;
}
th {
    border-bottom: 4px solid black;
}

.spaced {
    border-left: 4px solid black;
}
